<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <bean id="userService" class="com.devin.service.Impl.UserServiceImpl">
        <!--从容器中拿useMapper-->
        <property name="userMapper" ref="userMapper"></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--使用ref而非value，因为dataSource是用Bean标签配置的-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--事务管理驱动-->
    <tx:annotation-driven></tx:annotation-driven>


</beans>