<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devin.dao.UserMapper">
    <select id="findUser" parameterType="long" resultType="user">
        select * from sys_user where id=#{id}
    </select>
    <update id="changeName" parameterType="string">
        UPDATE sys_user set username=#{username} where id=2
    </update>

</mapper>

